<div class="ui grid nav-bar">
  <!-- Desktop -->
  <div class="computer only row">
    <div class="column">
      <div class="ui menu" style="display: flex; align-items: center">
        <a class="item" style="margin-right: 30px">
          <div class="logo">
            <img src="../../assets/icons/logo.png" alt="" srcset="" />
            <h1>SGTR</h1>
          </div>
        </a>
        <a class="item">
          <img
            class="ellipse"
            src="../../assets/icons/messages/Ellipse 222.png"
          />
          <img src="../../assets/icons/messages/Subtract.png" />
        </a>
        <a class="item">
          <img
            class="ellipse"
            src="../../assets/icons/messages/Ellipse 222.png"
          />
          <img src="../../assets/icons/messages/Subtract.png" />
        </a>
        <a class="item">
          <img src="../../assets/icons/mail.png" />
        </a>
        <a class="item">
          <img src="../../assets/icons/point.png" />
        </a>
        <a class="item">
          <img src="../../assets/icons/pie-chart.png" />
        </a>
        <a class="item">
          <img
            class="crown"
            src="../../assets/icons/person-with-crown/crown.png"
          />
          <img src="../../assets/icons/person-with-crown/person.png" />
        </a>
        <a class="item">
          <img src="../../assets/icons/news-q.png" />
        </a>
        <div style="margin-left: auto; display: flex">
          <a class="item">
            <img src="../../assets/icons/noti.png" />
          </a>
          <a class="item">
            <img src="../../assets/icons/arrow-up.png" />
            <span class="up-count">+50</span>
          </a>
          <a class="item">
            <img src="../../assets/icons/person.png" class="person" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Table mobile icon -->
  <div class="tablet mobile only row">
    <div class="column">
      <div class="ui menu">
        <a id="mobile_item" (click)="toggleSidebar()" class="item"
          ><i class="bars icon" style="color: white"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<!-- mobile sidebar -->
<div class="ui sidebar inverted vertical menu" [class.visible]="isSidebarOpen">
  <div class="column">
    <div class="ui menu vertical-menu">
      <a class="item" style="margin-top: -10px">
        <div (click)="toggleSidebar()">
          <h1 style="padding-bottom: 12px">x</h1>
        </div>
      </a>
      <a class="item">
        <img
          class="ellipse"
          src="../../assets/icons/messages/Ellipse 222.png"
        />
        <img src="../../assets/icons/messages/Subtract.png" />
      </a>
      <a class="item">
        <img
          class="ellipse"
          src="../../assets/icons/messages/Ellipse 222.png"
        />
        <img src="../../assets/icons/messages/Subtract.png" />
      </a>
      <a class="item">
        <img src="../../assets/icons/mail.png" />
      </a>
      <a class="item">
        <img src="../../assets/icons/point.png" />
      </a>
      <a class="item">
        <img src="../../assets/icons/pie-chart.png" />
      </a>
      <a class="item">
        <img
          class="crown"
          src="../../assets/icons/person-with-crown/crown.png"
        />
        <img src="../../assets/icons/person-with-crown/person.png" />
      </a>
      <a class="item">
        <img src="../../assets/icons/news-q.png" />
      </a>
      <a class="item">
        <img src="../../assets/icons/noti.png" />
      </a>
      <a class="item">
        <img src="../../assets/icons/arrow-up.png" />
        <span class="up-count">+50</span>
      </a>
      <a class="item">
        <img src="../../assets/icons/person.png" class="person" />
      </a>
    </div>
  </div>
</div>
