<div class="ui grid">
  <div class="computer only row">
    <div class="column">
      <div class="ui menu">
        <a class="item" style="margin-right: 30px">
          <div class="logo">
            <img src="../../assets/icons/logo.png" alt="" srcset="" />
            <h1>SGTR</h1>
          </div>
        </a>
        <a class="item">
          <img
            class="ellipse"
            src="../../assets/icons/messages/Ellipse 222.png"
          />
          <img src="../../assets/icons/messages/Subtract.png" />
        </a>
        <a class="item">
          <img
            class="ellipse"
            src="../../assets/icons/messages/Ellipse 222.png"
          />
          <img src="../../assets/icons/messages/Subtract.png" />
        </a>
        <a class="item">
          <img src="../../assets/icons/mail.png" />
        </a>
      </div>
    </div>
  </div>

  <div class="tablet mobile only row">
    <div class="column">
      <div class="ui menu">
        <a id="mobile_item" class="item"><i class="bars icon"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="ui pushable segment">
  <div class="ui sidebar vertical menu">
    <a class="item">Menu Item A</a>
    <a class="item">Menu Item B</a>
    <a class="item">Menu Item C</a>
    <a class="item">Menu Item D</a>
  </div>
</div>

<script>
  $('.ui.sidebar')
    .sidebar({
      context: $('.ui.pushable.segment'),
      transition: 'overlay',
    })
    .sidebar('attach events', '#mobile_item')
</script>
