.mesasge-input {
  position: fixed;
  bottom: 0%;
  color: white;
  width: 705px;
  border-top: 1px solid #3c3f41;
}

/* ------ Media query */
@media only screen and (min-width: 1400px) {
  .mesasge-input {
    width: 1;
  }
}

@media only screen and (max-width: 1400px) {
  .mesasge-input {
    width: 100%;
  }
}

/* @media only screen and (max-width: 1150px) {
  .mesasge-input {
    width: 100%;
  }
} */

.mesasge-input > input {
  width: 100%;
  padding: 12px 19px;
  color: white;
  border: none;
  outline: none;
  background-color: #1b1c1d;
}

.mesasge-input > .tools {
  background-color: #2b2c2d;
  height: 40px;
  padding: 12px 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mesasge-input > .tools > .left,
.mesasge-input > .tools > .right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.mesasge-input > .tools > .left > button,
.mesasge-input > .tools > .right > button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #9b9991;
  font-size: 16px;
  cursor: pointer;
}
