<section class="mesasge-input">
  <input type="text" placeholder="Type your message here" spellcheck="false" />
  <div class="tools">
    <div class="left">
      <button>
        <img src="../../../assets/icons/file-upload.png" />
      </button>
      <button>/</button>
      <button>#</button>
      <button>$</button>
      <button>~</button>
      <button style="margin-top: 7px">^</button>
    </div>
    <div class="right">
      <button>
        <img src="../../../assets/icons/file.png" />
      </button>
      <button>
        <img src="../../../assets/icons/icon-smile.png" />
      </button>
      <button>
        <img src="../../../assets/icons/gif.png" />
      </button>
    </div>
  </div>
</section>
