.message-header {
  padding: 12px 20px;
  background-color: var(--grey-ligher);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-header > .user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  color: white;
  position: relative;
}

.message-header > .user > .active-status {
  position: absolute;
  left: 30%;
  bottom: 10%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #6ecd95;
}

.message-header > .user > p {
  font-size: 16px;
}

.message-header > .options > .icon {
  color: #9b9991;
  cursor: pointer;
}

.message-header > .options > .icon:hover {
  color: wheat;
}
