<div class="message-list">
  <div *ngFor="let message of filteredMessages">
    <div
      class="message"
      [style]="message.isOwn ? 'flex-direction: row-reverse;' : ''"
    >
      <!-- user -->
      <div class="user">
        <img [src]="message.image" width="50px" height="50px" />
        <div class="active-status"></div>
      </div>

      <!-- content -->
      <div
        class="content"
        [style]="
          message.isOwn
            ? 'background-color: #484B4E;  border-radius: 12px 12px 0px 12px;'
            : 'background-color: #2e2f31; border-radius: 12px 12px 12px 0px; '
        "
      >
        <div
          class="user"
          [style]="message.isOwn ? 'flex-direction: row-reverse;' : ''"
        >
          <span class="name">{{ message.name }}</span>
          <span>{{ message.time }}</span>
        </div>
        <div class="text">
          <p [style]="message.isOwn ? 'text-align: right;' : ''">
            {{ message.mesasge }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
