.message-list {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 30px;
}

.message {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.message > .user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  color: white;
  position: relative;
}

.message > .user > .active-status {
  position: absolute;
  right: 0%;
  bottom: 10%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #6ecd95;
}

.message > .content {
  color: #9b9991;
  padding: 12px;
}

.message > .content > .user {
  display: flex;
  align-items: center;
  gap: 18px;
}

.message > .content > .user > .name {
  font-size: 16px;
  font-weight: 700;
  color: #b1b1b2;
}

.message > .content > .text {
  margin-top: 8px;
  color: rgb(212, 212, 212);
}
